body{
    font-family: sans-serif;
}
.dropdown--menu{
    border: 1px solid lightgray;
    width: 120px;
    transition: all 0.5s;
    position: absolute;
    max-height: 100px;
    overflow: hidden;
}
.dropdown--menu a{
    display: block;
    padding: 4px 10px;
    font-size: 16px;
    text-decoration: none;
    color: #666;
    
}
.dropdown--menu a:hover{
    background-color: #54C6EB;
}


.dropdown--button{
    background-color: #BEA8A7;
    color: white;
    border: none;
    padding: 10px;
    width: 120px;
    cursor: pointer;
    border-radius: 4px;
}
.hide{
    max-height: 0px;
    opacity: 0%;
}